@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
body {
    background: #f7f7f7;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    line-height: 32px;
    padding-top: 70px;
}

h1 a {
    color: #66CCCC;
}

/* #carouselExampleCaptions {
    margin-top: 50px;
} */

.top-menu_fixed_hidden {
    position: fixed !important;
    margin-top: -100px;
    
}

.top-menu_fixed {
    position: fixed !important;
    margin-top: 0px;
    transition: 1s;
}


#baner {
    width: 100%;
    height: 700px;
    background-image: url("../img/slider4.webp");
    opacity: 0.8;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #1e8a96;
}

#baner_text {
    width: max-content;
    height: fit-content;
    margin: 190px auto 20px auto;
    /* margin-top: 73px; */
    padding: 20px;
    background: #eeeeee91;
    border-radius: 20px;
}

/* #baner h1 {
    font-size: 50px;
    color: #1e8a96;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

#baner h2 {
    margin-top: 20px;
    font-size: 40px;
    color: #1e8a96;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-decoration-line: overline;
} */

.slider_txt {
    width: auto;
    background: #eeeeeec2;
    border-radius: 20px;
    padding: 20px;
}

.slider_txt h1 {
    font-weight: 600;
    color: #1e8a96;
    padding-top: 10px;
    font-size: 55px;
    font-family: 'Rajdhani', sans-serif;
}

.slider_txt h2 {
    color: #1e8a96;
    border-radius: 20px;
    font-weight: 600;
    font-family: 'Rajdhani', sans-serif;
    font-size: 32px;
}

.slider_txt h3 {
    color: #1e8a96;
    border-radius: 20px;
    font-weight: 600;
    font-family: 'Rajdhani', sans-serif;
    text-decoration-line: overline;
}

.center_div {
    margin: 0 auto 0 auto;
    float: none;
    max-width: 1080px;
    /*border: 1px solid #000000;*/
}

.my_icons_box {
    /*border: 1px solid #000000;*/
    padding: 10px;
    float: left;
    width: 340px;
    height: 150px;
    margin: 10px;
}

.my_icons_box:hover {
    transition: 1.5s;
    background: #d5f3f3;
}

.my_icons_box {
    transition: 4.5s;
    background: none;
}

.my_icons_box span {
    float: left;
}

.my_icons_box .text {
    float: left;
    width: 220px;
}

.my_icons_box h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    float: left;
}

.my_icons_box p {
    float: right;
    font-size: 14px;
    text-align: justify;
}

.my_icons_box img {
    width: 50px;
    margin: 35px 15px 15px 15px;
    float: left;
}


/**** My icon BOX CENTER ****/

.my_icons_box_center {
    /*border: 1px solid #000000;*/
    transition: 2.5s;
    background: #66cccc;
    color: white;
    padding: 10px;
    float: left;
    width: 340px;
    height: 150px;
    margin: 10px;
}

.my_icons_box_center:hover {
    transition: 1.5s;
    background: #c21f1f;
}

.my_icons_box_center span {
    float: left;
}

.my_icons_box_center .text {
    float: left;
    width: 220px;
}

.my_icons_box_center h3 {
    font-size: 20px;
    color: #f5f5f5 !important;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    float: left;
}

.my_icons_box_center p {
    float: right;
    font-size: 14px;
}

.my_icons_box_center img {
    width: 50px;
    margin: 35px 15px 15px 15px;
    float: left;
}

#logo_firmowe img {
    width: 200px;
    padding: 20px;
}

#img_logo {
    text-align: center;
}

#oferta {
    margin-top: 0px;
    background: #fcfcfc;
}

.container h3 {
    color: #6a6a6a;
    text-align: center;
}

.container h4 {
    color: #1e8a96;
    text-align: center;
}

#triangle_1 {
    width: 100%;
    height: 0;
    border-left: 2000px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 100px solid rgb(104, 202, 206);
    margin: 0px 0px 0px 0px;
}

#triangle_2 {
    width: 100%;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 2000px solid transparent;
    border-bottom: 100px solid rgb(104, 202, 206);
    margin: 0px 0px 0px 0px;
}

#mapa {
    width: 100%;
    height: 400px;
    background-image: url(../img/mapa.webp);
    background-position: center;
    border-top: 3px solid #f5f5f5;
    border-bottom: 3px solid #f5f5f5;
    -webkit-box-shadow: 0px 10px 37px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 37px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 37px 0px rgba(0, 0, 0, 0.75);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    padding: 20px;
    /*margin-top: 50px;*/
}

.contact {
    background: #82ceed;
    background: -moz-radial-gradient(center, ellipse cover, #82ceed 0%, #1e8a96 67%, #1d9191 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #82ceed 0%, #1e8a96 67%, #1d9191 100%);
    background: radial-gradient(ellipse at center, #82ceed 0%, #1e8a96 67%, #1d9191 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#82ceed', endColorstr='#1d9191', GradientType=1);
    color: #ffffff;
    vertical-align: top;
    padding-top: 40px;
}

.contact a {
    color: #ffffff;
    text-decoration: none;
}

.contact a:hover {
    color: #ffffff;
    text-decoration: none;
}

.contact p {
    margin-top: 0;
    margin-bottom: 5px;
}

.contact h1 {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    line-height: 32px;
    padding-top: 20px;
    color: #ffffff;
}

.contact_form_left {
    width: 260px;
    float: left;
    margin-right: 10px;
}

.contact_form_right {
    width: 260px;
    float: left;
}

#send_form_status {
    text-align: center;
    color: white;
    background: #ce5050;
    /* font-weight: bold; */
    margin: 10px 10px 30px 10px;
    font-family: calibri;
    border-radius: 12px;
}

#send_form_status p {
    padding: 20px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=tel],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=number],
select,
textarea {
    width: 100%;
    height: 130px;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #008d96;
    width: 145px;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border: 2px solid #c0e1e4;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #218c99;
}

input[type=submit]:hover {
    box-shadow: 0px 0px 10px #02bcc7;
    background-color: #02bcc7;
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#footer {
    background: #151515;
}

#footer h3 {
    font-size: 20px;
    color: #f7f7f7;
}

.column-3 {
    width: 33%;
    padding: 15px 15px 50px 15px;
    color: #d5f3f3;
    float: left;
}

@media only screen and (max-width:1199px) {
    #baner {
        width: 100%;
        height: 400px;
        background-image: url("../img/slider4.webp");
        opacity: 0.8;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #1e8a96;
    }
    #baner_text {
        width: max-content;
        height: fit-content;
        margin: 20px auto 20px auto;
        /* margin-top: 73px; */
        padding: 20px;
        background: #eeeeee91;
        border-radius: 20px;
    }
    #baner h1 {
        font-size: 15px;
        color: #1e8a96;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
    }
    #baner h2 {
        margin-top: 20px;
        font-size: 20px;
        color: #1e8a96;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
        text-decoration-line: overline;
    }
    .contact_form_left {
        width: 100%;
        float: left;
        margin-right: 10px;
    }
    .contact_form_right {
        width: 100%;
        float: left;
    }
    .column {
        float: none;
        width: 90%;
        margin-top: 6px;
        padding: 20px;
    }
    #triangle_1 {
        width: 100%;
        height: 0;
        border-left: 1190px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 60px solid rgb(104, 202, 206);
        margin: 0px 0px 0px 0px;
    }
    #triangle_2 {
        width: 100%;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 1199px solid transparent;
        border-bottom: 60px solid rgb(104, 202, 206);
        margin: 0px 0px 0px 0px;
    }
}

@media only screen and (max-width:1024px) {
    header {
        height: 200px;
    }
    #baner h1 {
        margin-top: 50px;
        font-size: 25px;
        color: #1e8a96;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
    }
    #baner h2 {
        margin-top: 20px;
        font-size: 20px;
        color: #1e8a96;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
        text-decoration-line: overline;
    }
    header h1 {
        font-size: 3rem;
    }
    #triangle_1 {
        width: 100%;
        height: 0;
        border-left: 1024px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 60px solid rgb(104, 202, 206);
        margin: 0px 0px 0px 0px;
    }
    #triangle_2 {
        width: 100%;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 1024px solid transparent;
        border-bottom: 60px solid rgb(104, 202, 206);
        margin: 0px 0px 0px 0px;
    }



}

@media only screen and (max-width:640px) {
    #logo_firmowe img {
        width: 60%;
        padding: 20px;
    }


}

main {
    width: 90%;
    max-width: 768px;
    margin: 2em auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main p {
    line-height: 1.6;
    margin: 2em 0;
}

@media only screen and (min-width:1024px) {
    main p {
        font-size: 2rem;
    }
    
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-top--fade-out {
    opacity: .5;
}

.cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}

@media only screen and (min-width:768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }


}

@media only screen and (min-width:1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}